{
  "env": {
    "browser": true
  },
  "rules":{
    "eqeqeq": 1,
    "no-undefined": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "no-undefined": 1,
    "strict": 1,
    "no-duplicate-case": 2,
    "init-declarations": [2, "always"],
    "no-fallthrough": 2,
    "quotes": [2, "double"],
    "no-label-var": 2,
    "no-use-before-define": 1,
    "no-unused-vars": 1,
    "valid-typeof": 2,
    "camelcase": 2,
    "require-jsdoc": 2,
    "comma-style": 2,
    "comma-spacing": [2, "after"],
    "consistance-this": [2, "self"]
  }
}
