body {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: #88b3da;
}

.floatleft {
    float: left;
}

#nav {
    background-color: #0065A4;
    display: flex;
    justify-content: flex-end;
    height: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

input {
    margin-right: 1%;
}

input[type="button"] {
    width: auto;
}

#login-message {
    content: "LOGIN MESSAGE!!!";
    width: 100%;
    font-weight: bold;
    font-size: 150%;
    color: white;
    padding: inherit;
    margin-right: 2%;
}

#filter {
    float: left;
    width: 15%;
    height: 400px;
    background-color: #0065A4;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

#calendar-window {
    width: 100% background-color: white;
}

#calendar-body {
    float: left;
    width: 80%;
    background-color: ghostwhite;
    overflow-y: scroll;
    height: 700px;
}

h2 {
    margin: 0;
    height: 10%;
}

#logout {
    width: 20%;
}

#calendar-bar {
    float: left;
    width: 80%;
    height: 2%;
    padding-top: 1.4%;
    padding-bottom: 1.3%;
}

.calendar-day-container:hover {
    -moz-box-shadow: 0px 0px 10px #0065A4;
    -webkit-box-shadow: 0px 0px 10px #0065A4;
    box-shadow: 0px 0px 10px #0065A4;
}

#bar-title {
    text-align: center;
    float: left;
    padding-left: 2%;
    font-size: 225%;
    font-weight: bold;
    margin-right: 1%;
}

#viewMonth-button {
    margin-right: 1.5%;
}

#calendar-bar div,
#calendar-bar input {
    margin-left: .05%;
}

#month-bar-name {
    position: relative;
    float: left;
    font-size: ;
    height: 100%;
    width: 15%;
    top: 15%;
}

#month-switch-next {
    text-align: center;
    float: left;
    height: 100%;
    width: 5%;
}

#next-button #prev-button #viewMonth-button #viewWeek-button #viewDay-button {
    float: right;
    width: auto;
    height: auto;
}

#month-switch-prev {
    float: left;
    text-align: center;
    height: 100%;
    width: 5%;
}

#view-switch {
    float: left;
    height: 100%;
    width: 5%;
}

.weekdays-header-wrapper {
    height: 3%;
    width: 100%;
}

.dayname {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    float: left;
    width: calc(96% / 7);
}

.daynames_item {
    height: 100%;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: bold;
}

.calendar-day-container {
    height: 99%;
    float: left;
    width: calc(96% / 7);
    border: 1px solid #d9d9d9;
}

.calendar-day-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid #d9d9d9;
}

.calendar-day-number {
    height: 15%;
    width: 100%;
}

.calendar-day-data {
    width: 100%;
    height: 85%;
}

#current-month {
    font-color: black;
}

.week_row {
    height: calc(96% / 5);
    width: 100%;
    /* border: 1px solid #d9d9d9;
        border-left: 0px;
        border-right: 0px; */
}

#calendar-bar {
    height: 10%;
    background-color: #004875;
}

h3 {
    text-align: center;
    vertical-align: middle;
}

.row {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 1%;
}

.reservation {
    border: solid 1px black;
    width: 15%;
    height: auto;
    padding: 2%;
    margin-right: 1%;
}

#reservation-status{
    text-align: center;
}

.available-reservation {
    border-color: blue;
    background-color: palegreen;
}

.unavailable-reservation {
    border-color: red;
    background-color: palevioletred;
}

.available-reservation:hover {
    cursor: pointer;
    border-color: green;
}

.unavailable-reservation:hover {
    cursor: not-allowed;
    border-color: red;
}